a {
  font-family: 'Lexend Mega', sans-serif;
  font-size: 12px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
}

a:hover {
  text-shadow: 1px 1px #666666;
}
